/* @import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
/*    font-family: "Kdam Thmor Pro", sans-serif;

    font-family: "Instrument Sans", serif; */
html,
body,
#root,
.app {
  height: 100%; /* Changed from min-height */
  margin: 0;
  padding: 0;
  background-color: #02040f;
  display: flex;
  flex-direction: column;
  color: white;
  /* overflow: hidden; */
}

.main-scroll {
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch;
  flex: 1; /* Fill the available space */
}

.qr-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.qr-content {
  background: #20222b;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.qr-content h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}

.qr-content div {
  margin: 0 auto;
}
