.mining {
  border-radius: 23px;
  padding: 20px 12px 14px 13px;
  background-color: rgba(159, 160, 172, 0.2);
  margin-top: 14px;
  padding: 10px;
}

.mining .miningText {
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #f9f7f7;
  margin: 0;
}

.mining .miningHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.mining .miningHeader span {
  font-weight: 200;
  font-size: 14px;
  color: #64ffff;
  margin-left: 6px;
}

.mining .squares {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  z-index: 2;
  margin-top: 22px;
}

.mining .squares .squareItem {
  width: 33px;
  height: 30px;
  background-color: #64ffff;
  border: 1px solid #64ffff;
  border-radius: 6px;
}

.mining .miningTime {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.miningTime span {
  font-weight: 200;
  font-size: 13px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #f9f7f7;
}

.miningTime span:nth-child(1) {
  font-family: "Instrument Sans", serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #f9f7f7;
}

.mining .oneBlock {
  font-weight: 500;
  font-size: 15px;
  color: rgba(249, 247, 247, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-family: "Instrument Sans", serif;
}

.mining .oneBlockValue {
  border-radius: 6px;
  border: 1px solid rgba(100, 255, 255, 1);
  background-color: rgba(30, 30, 30, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
}

.mining .miningCompleted {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.miningCompleted .squareCompleted img {
}

.miningCompleted .squareCompleted .completedText {
}

.miningCompleted .completedText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
}

.mining .miningCompleted button {
  width: 101px;
  height: 26px;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 2px;
  color: #02040f;
  line-height: 20px;
  border-radius: 18px;
  background: linear-gradient(to right, #3f4050, #d5d7e9, #424459);
  position: relative;
  border: none;
  z-index: 2;
}

.mining .miningCompleted button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, #3f4050, #d5d7e9, #424459);
  z-index: -1;
  border-radius: inherit;
  filter: blur(10px);
}

.miningAnimation {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  top: -10px;
  left: -27px;
}

.miningAnimation p {
  position: absolute;
  font-weight: 200;
  font-size: 20px;
  margin-top: 20px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #222;
  margin-left: 5px;
}
.miningAnimation img {
  width: 50px;
  height: 50px;
}
